<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>The Healthiest</title>
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/community.css">
  <script src="http://code.jquery.com/jquery-3.1.1.js"></script>


</head>


<body>
  <!-- nav -->
  <%- include('nav.html') %>

  <!-- function script -->
  <script>
    function selectSub(){
      var x = document.getElementById("subcat");
      x.style.color = "#61A0E8";
      x.style.boxShadow = "0px 4px 0px #61A0E8";
      $(document).getElementById("sub1")
    }
  </script>

  <!--body-->
  <br>

  <div class="row" style="width: 100%;">
    <table>
      <td style="width:20px;"></td>
      <td><a href="/community"><img src="../img/backspace.png"></a></td>
      <td>
        <div class="col" style="font-size: 34px; font-weight: bold; z-index: -1;"> 체형별 게시판 </div>
      </td>
    </table>
    <div class="col"> </div>
    <span class="bar">
      <input class="searchbar" type="text" placeholder="검색어를 입력하세요" title="Search">
      <a href="#"> <i style="color:#61A0E8; position: relative; z-index: -1;"
          class="fas fa-search fa-lg search_icon"></i></a>
    </span>
  </div>
  <img style="width: 100%" src="../img/banner_blue.png">




  <div class="row subrow" style="z-index: -10;">
    <div class="col"><span class="hide1" id="sub1">&nbsp&nbsp영양 부족형&nbsp&nbsp</span></div>
    <div class="col"><span class="hide2" id="sub2">&nbsp&nbsp초고도비만형&nbsp&nbsp</span></div>
    <div class="col"><span class="hide3" id="sub3">&nbsp&nbsp근육 부족형&nbsp&nbsp</span></div>
    <div class="col"><span class="hide4" id="sub4">&nbsp&nbsp저체중형&nbsp&nbsp</span></div>
    <div class="col"><span class="hide5" id="sub5">&nbsp&nbsp하체 비만형&nbsp&nbsp</span></div>
    <div class="col"><span class="hide6" id="sub6">&nbsp&nbsp상체 비만형&nbsp&nbsp</span></div>
    <div class="col"><span class="hide7" id="sub7">&nbsp&nbsp마른 비만형&nbsp&nbsp</span></div>
    <div class="col"><span class="hide8" id="sub8">&nbsp&nbsp과체중형&nbsp&nbsp</span></div>
  </div>
  

<div name="postbox"></div>


    <!-- post 읽어오기 -->
  <div class="sub1" >
    <% for (var i = 0; i < posts.length; i++){ %>
      <% if(posts[i].category =='bodytype'){ %>
        <% if(posts[i].subcategory =='영양부족형'){ %>
          <a href="/community/detail/<%= posts[i].post_id %>">
        <table class="selected">
          <tr>
            <td class="title"><%= posts[i].title %></td>
            <td class="icons" rowspan="2">
              <div class="thumb_icon"><img src="/img/icon-thumb-blue.png"> 10</div>
              <div class="comment_icon"><img src="/img/icon-comment-blue.png"> 25
              </div>
            </td>
          </tr>
          <tr>
            <td class="summary"> <%= posts[i].content.substring(0,101) %><span class="extra">...더 보기</span></td>
          </tr>
        </table>
      </a>  
      <%} %> <%} %> <%} %>
    </div>


      <div class="sub2">
      <% for (var i = 0; i < posts.length; i++){ %>
        <% if(posts[i].category =='bodytype'){ %>
          <% if(posts[i].subcategory =='초고도비만형'){ %>

            <a href="/community/detail/<%= posts[i].post_id %>">
          <table class="selected">
            <tr>
              <td class="title"><%= posts[i].title %></td>
              <td class="icons" rowspan="2">
                <div class="thumb_icon"><img src="/img/icon-thumb-blue.png"> 10</div>
                <div class="comment_icon"><img src="/img/icon-comment-blue.png"> 25
                </div>
              </td>
            </tr>
            <tr>
              <td class="summary"> <%= posts[i].content.substring(0,101) %><span class="extra">...더 보기</span></td>
            </tr>
          </table>
        </a>  

        <%} %> <%} %> <%} %>
      </div>

      <div class="sub3">
        <% for (var i = 0; i < posts.length; i++){ %>
          <% if(posts[i].category =='bodytype'){ %>
            <% if(posts[i].subcategory =='근육부족형'){ %>
  
              <a href="/community/detail/<%= posts[i].post_id %>">
            <table class="selected">
              <tr>
                <td class="title"><%= posts[i].title %></td>
                <td class="icons" rowspan="2">
                  <div class="thumb_icon"><img src="/img/icon-thumb-blue.png"> 10</div>
                  <div class="comment_icon"><img src="/img/icon-comment-blue.png"> 25
                  </div>
                </td>
              </tr>
              <tr>
                <td class="summary"> <%= posts[i].content.substring(0,101) %><span class="extra">...더 보기</span></td>
              </tr>
            </table>
          </a>  
  
          <%} %> <%} %> <%} %>
        </div>

        <div class="sub4">
          <% for (var i = 0; i < posts.length; i++){ %>
            <% if(posts[i].category =='bodytype'){ %>
              <% if(posts[i].subcategory =='저체중형'){ %>
    
                <a href="/community/detail/<%= posts[i].post_id %>">
              <table class="selected">
                <tr>
                  <td class="title"><%= posts[i].title %></td>
                  <td class="icons" rowspan="2">
                    <div class="thumb_icon"><img src="/img/icon-thumb-blue.png"> 10</div>
                    <div class="comment_icon"><img src="/img/icon-comment-blue.png"> 25
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="summary"> <%= posts[i].content.substring(0,101) %><span class="extra">...더 보기</span></td>
                </tr>
              </table>
            </a>  
    
            <%} %> <%} %> <%} %>
          </div>

          <div class="sub5">
            <% for (var i = 0; i < posts.length; i++){ %>
              <% if(posts[i].category =='bodytype'){ %>
                <% if(posts[i].subcategory =='하체비만형'){ %>
      
                  <a href="/community/detail/<%= posts[i].post_id %>">
                <table class="selected">
                  <tr>
                    <td class="title"><%= posts[i].title %></td>
                    <td class="icons" rowspan="2">
                      <div class="thumb_icon"><img src="/img/icon-thumb-blue.png"> 10</div>
                      <div class="comment_icon"><img src="/img/icon-comment-blue.png"> 25
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="summary"> <%= posts[i].content.substring(0,101) %><span class="extra">...더 보기</span></td>
                  </tr>
                </table>
              </a>  
      
              <%} %> <%} %> <%} %>
            </div>

            <div class="sub6">
              <% for (var i = 0; i < posts.length; i++){ %>
                <% if(posts[i].category =='bodytype'){ %>
                  <% if(posts[i].subcategory =='상체비만형'){ %>
        
                    <a href="/community/detail/<%= posts[i].post_id %>">
                  <table class="selected">
                    <tr>
                      <td class="title"><%= posts[i].title %></td>
                      <td class="icons" rowspan="2">
                        <div class="thumb_icon"><img src="/img/icon-thumb-blue.png"> 10</div>
                        <div class="comment_icon"><img src="/img/icon-comment-blue.png"> 25
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="summary"> <%= posts[i].content.substring(0,101) %><span class="extra">...더 보기</span></td>
                    </tr>
                  </table>
                </a>  
        
                <%} %> <%} %> <%} %>
              </div>
              <div class="sub7">
                <% for (var i = 0; i < posts.length; i++){ %>
                  <% if(posts[i].category =='bodytype'){ %>
                    <% if(posts[i].subcategory =='마른비만형'){ %>
          
                      <a href="/community/detail/<%= posts[i].post_id %>">
                    <table class="selected">
                      <tr>
                        <td class="title"><%= posts[i].title %></td>
                        <td class="icons" rowspan="2">
                          <div class="thumb_icon"><img src="/img/icon-thumb-blue.png"> 10</div>
                          <div class="comment_icon"><img src="/img/icon-comment-blue.png"> 25
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="summary"> <%= posts[i].content.substring(0,101) %><span class="extra">...더 보기</span></td>
                      </tr>
                    </table>
                  </a>  
          
                  <%} %> <%} %> <%} %>
                </div>

                <div class="sub8">
                  <% for (var i = 0; i < posts.length; i++){ %>
                    <% if(posts[i].category =='bodytype'){ %>
                      <% if(posts[i].subcategory =='과체중형'){ %>
            
                        <a href="/community/detail/<%= posts[i].post_id %>">
                      <table class="selected">
                        <tr>
                          <td class="title"><%= posts[i].title %></td>
                          <td class="icons" rowspan="2">
                            <div class="thumb_icon"><img src="/img/icon-thumb-blue.png"> 10</div>
                            <div class="comment_icon"><img src="/img/icon-comment-blue.png"> 25
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="summary"> <%= posts[i].content.substring(0,101) %><span class="extra">...더 보기</span></td>
                        </tr>
                      </table>
                    </a>  
            
                    <%} %> <%} %> <%} %>
                  </div>

  <div style="text-align: center; margin-top:15px;">
<a style="color:#0E52A0; font-size:20px; margin-right: 80px;"> &lt 이전</a>
<span style="font-size: 26px"> <b>1</b> &nbsp 2 &nbsp  3 &nbsp  4 &nbsp  5</span>
<a style="color:#0E52A0; font-size:20px; margin-left: 80px"> 다음 &gt </a>

  </div> 
<button onClick="location.href='/community/bodytype/write'" type="button" class="write_btn">글 작성</button>

<script>
      $(function(){                                  // Document Ready 이벤트 함수 - 축약형
        $(".hide1").on("click", function(){           // 선택자.이벤트 (함수)
          $("#sub1").css('color',"#61A0E8").css('boxShadow', '0px 4px 0px #61A0E8')
          $("#sub2").css('color',"#999999").css('boxShadow', 'none')
          $("#sub3").css('color',"#999999").css('boxShadow', 'none')
          $("#sub4").css('color',"#999999").css('boxShadow', 'none')
          $("#sub5").css('color',"#999999").css('boxShadow', 'none')
          $("#sub6").css('color',"#999999").css('boxShadow', 'none')
          $("#sub7").css('color',"#999999").css('boxShadow', 'none')
          $("#sub8").css('color',"#999999").css('boxShadow', 'none')

          $(".sub1").show();                          // 선택자.액션 함수
            $(".sub2").hide();
            $(".sub3").hide(); 
            $(".sub4").hide(); 
            $(".sub5").hide(); 
            $(".sub6").hide();
            $(".sub7").hide(); 
            $(".sub8").hide(); 
        }); 
    });
      $(function(){    
        $(".hide2").on("click", function(){           // 선택자.이벤트 (함수)
          $("#sub2").css('color',"#61A0E8").css('boxShadow', '0px 4px 0px #61A0E8')
          $("#sub1").css('color',"#999999").css('boxShadow', 'none')
          $("#sub3").css('color',"#999999").css('boxShadow', 'none')
          $("#sub4").css('color',"#999999").css('boxShadow', 'none')
          $("#sub5").css('color',"#999999").css('boxShadow', 'none')
          $("#sub6").css('color',"#999999").css('boxShadow', 'none')
          $("#sub7").css('color',"#999999").css('boxShadow', 'none')
          $("#sub8").css('color',"#999999").css('boxShadow', 'none')
          $(".sub1").hide();                          // 선택자.액션 함수
            $(".sub2").show();
            $(".sub3").hide(); 
            $(".sub4").hide(); 
            $(".sub5").hide(); 
            $(".sub6").hide();
            $(".sub7").hide(); 
            $(".sub8").hide();         }); 
    });


    $(function(){                                  // Document Ready 이벤트 함수 - 축약형
        $(".hide3").on("click", function(){           // 선택자.이벤트 (함수)
          $("#sub3").css('color',"#61A0E8").css('boxShadow', '0px 4px 0px #61A0E8')
          $("#sub1").css('color',"#999999").css('boxShadow', 'none')
          $("#sub2").css('color',"#999999").css('boxShadow', 'none')
          $("#sub4").css('color',"#999999").css('boxShadow', 'none')
          $("#sub5").css('color',"#999999").css('boxShadow', 'none')
          $("#sub6").css('color',"#999999").css('boxShadow', 'none')
          $("#sub7").css('color',"#999999").css('boxShadow', 'none')
          $("#sub8").css('color',"#999999").css('boxShadow', 'none')
          $(".sub1").hide();                          // 선택자.액션 함수
            $(".sub2").hide();
            $(".sub3").show(); 
            $(".sub4").hide(); 
            $(".sub5").hide(); 
            $(".sub6").hide();
            $(".sub7").hide(); 
            $(".sub8").hide();         }); 
    });

    $(function(){                                  // Document Ready 이벤트 함수 - 축약형
        $(".hide4").on("click", function(){           // 선택자.이벤트 (함수)
          $("#sub4").css('color',"#61A0E8").css('boxShadow', '0px 4px 0px #61A0E8')
          $("#sub1").css('color',"#999999").css('boxShadow', 'none')
          $("#sub3").css('color',"#999999").css('boxShadow', 'none')
          $("#sub2").css('color',"#999999").css('boxShadow', 'none')
          $("#sub5").css('color',"#999999").css('boxShadow', 'none')
          $("#sub6").css('color',"#999999").css('boxShadow', 'none')
          $("#sub7").css('color',"#999999").css('boxShadow', 'none')
          $("#sub8").css('color',"#999999").css('boxShadow', 'none')
          $(".sub1").hide();                          // 선택자.액션 함수
            $(".sub2").hide();
            $(".sub3").hide(); 
            $(".sub4").show(); 
            $(".sub5").hide(); 
            $(".sub6").hide();        }); 
    });

    $(function(){                                  // Document Ready 이벤트 함수 - 축약형
        $(".hide5").on("click", function(){           // 선택자.이벤트 (함수)
          $("#sub5").css('color',"#61A0E8").css('boxShadow', '0px 4px 0px #61A0E8')
          $("#sub1").css('color',"#999999").css('boxShadow', 'none')
          $("#sub3").css('color',"#999999").css('boxShadow', 'none')
          $("#sub4").css('color',"#999999").css('boxShadow', 'none')
          $("#sub2").css('color',"#999999").css('boxShadow', 'none')
          $("#sub6").css('color',"#999999").css('boxShadow', 'none')
          $("#sub7").css('color',"#999999").css('boxShadow', 'none')
          $("#sub8").css('color',"#999999").css('boxShadow', 'none')
          $(".sub1").hide();                          // 선택자.액션 함수
            $(".sub2").hide();
            $(".sub3").hide(); 
            $(".sub4").hide(); 
            $(".sub5").show(); 
            $(".sub6").hide();        }); 
    });

    $(function(){                                  // Document Ready 이벤트 함수 - 축약형
        $(".hide6").on("click", function(){           // 선택자.이벤트 (함수)
          $("#sub6").css('color',"#61A0E8").css('boxShadow', '0px 4px 0px #61A0E8')
          $("#sub1").css('color',"#999999").css('boxShadow', 'none')
          $("#sub3").css('color',"#999999").css('boxShadow', 'none')
          $("#sub4").css('color',"#999999").css('boxShadow', 'none')
          $("#sub5").css('color',"#999999").css('boxShadow', 'none')
          $("#sub2").css('color',"#999999").css('boxShadow', 'none')
          $("#sub7").css('color',"#999999").css('boxShadow', 'none')
          $("#sub8").css('color',"#999999").css('boxShadow', 'none')
          $(".sub1").hide();                          // 선택자.액션 함수
            $(".sub2").hide();
            $(".sub3").hide(); 
            $(".sub4").hide(); 
            $(".sub5").hide(); 
            $(".sub6").show();
            $(".sub7").hide(); 
            $(".sub8").hide();         }); 
    });


    $(function(){                                  // Document Ready 이벤트 함수 - 축약형
        $(".hide7").on("click", function(){           // 선택자.이벤트 (함수)
          $("#sub7").css('color',"#61A0E8").css('boxShadow', '0px 4px 0px #61A0E8')
          $("#sub1").css('color',"#999999").css('boxShadow', 'none')
          $("#sub3").css('color',"#999999").css('boxShadow', 'none')
          $("#sub4").css('color',"#999999").css('boxShadow', 'none')
          $("#sub5").css('color',"#999999").css('boxShadow', 'none')
          $("#sub6").css('color',"#999999").css('boxShadow', 'none')
          $("#sub2").css('color',"#999999").css('boxShadow', 'none')
          $("#sub8").css('color',"#999999").css('boxShadow', 'none')
          $(".sub1").hide();                          // 선택자.액션 함수
            $(".sub2").hide();
            $(".sub3").hide(); 
            $(".sub4").hide(); 
            $(".sub5").hide(); 
            $(".sub6").hide();
            $(".sub7").show(); 
            $(".sub8").hide();         }); 
    });


    $(function(){                                  // Document Ready 이벤트 함수 - 축약형
        $(".hide8").on("click", function(){           // 선택자.이벤트 (함수)
          $("#sub8").css('color',"#61A0E8").css('boxShadow', '0px 4px 0px #61A0E8')
          $("#sub1").css('color',"#999999").css('boxShadow', 'none')
          $("#sub3").css('color',"#999999").css('boxShadow', 'none')
          $("#sub4").css('color',"#999999").css('boxShadow', 'none')
          $("#sub5").css('color',"#999999").css('boxShadow', 'none')
          $("#sub6").css('color',"#999999").css('boxShadow', 'none')
          $("#sub7").css('color',"#999999").css('boxShadow', 'none')
          $("#sub2").css('color',"#999999").css('boxShadow', 'none')
          $(".sub1").hide();                          // 선택자.액션 함수
            $(".sub2").hide();
            $(".sub3").hide(); 
            $(".sub4").hide(); 
            $(".sub5").hide(); 
            $(".sub6").hide();
            $(".sub7").hide(); 
            $(".sub8").show();         }); 
    });
    
</script>
  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"> </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>


</body>

</html>